@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* /* /* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
/**
 * Render the `main` element consistently in IE.
 */

main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	/* margin: 0.67em 0; */
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
	cursor: pointer;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/* ==================================================================== */

:root {
	--color-white: #ffffff;
	--color-brown: #bd7048;
	--color-dark: #262626;
	--color-light-dark: #3b3b3b;

	--container-width: 1178px;
	--container-padding-x: 15px;

	--transition_duration: 0.2s;
}
h1,
h2,
h3 {
	margin: 0;
}

a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
ul {
	padding: 0;
}
button {
	background-color: transparent;
	border: none;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 15px;
	font-weight: normal;
	background-color: #fff;
}

.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}
/* =====================HEADER================ */
.header a:focus-visible {
	outline: var(--color-brown) 2px solid;
	outline-offset: 15px;
}
.header a:hover {
	color: var(--color-brown);
	-webkit-transition-duration: var(--transition_duration);
	-o-transition-duration: var(--transition_duration);
	transition-duration: var(--transition_duration);
}
.header a:active {
	color: #a96541;
}

.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	text-align: center;
	padding-top: 40px;
	background: #ffffff;
}

.header__container {
	width: 100%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header__logo {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-size: 10px;
	font-weight: normal;
}
.header__burger_btn {
	display: none;
	z-index: 20;
}
.header__menu {
}
.header.open .header__menu {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	visibility: visible;
}
.header__menu_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;
}
.header__menu_item {
}
.header__menu_link {
	color: var(--color-light-dark);
}
.current_link {
	position: relative;
	color: var(--color-brown);
	font-weight: 600;
}
.current_link::after {
	position: absolute;
	right: 0;
	bottom: -10px;
	content: '';
	width: 31px;
	height: 1px;
	background-color: var(--color-brown);
}

.header__connection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;
}
.header__connection_telephone {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 17px;
	-moz-column-gap: 17px;
	column-gap: 17px;
	color: var(--color-light-dark);
	font-weight: 500;
}
.header__connection span {
	color: rgb(59, 59, 59, 50%);
	font-weight: 500;
}
.header__connection_telephone:hover svg path {
	stroke: #bd7048;
}

/* =======SECTION HERO========== */
.hero {
	background-color: #b06842;
}
.hero__wrap {
	min-height: 801px;
	background: url(../image/bg_top.jpg) center/cover no-repeat;
	padding-bottom: 11%;
}
.container {
}
.hero__container {
	text-align: center;
}
.hero.open .hero__order {
	transform: translateX(-100%);
	visibility: visible;
}
.hero__order {
	position: absolute;
	right: -346px;
	top: 166px;
	max-width: 346px;
	font-weight: 500;
	color: #fff;
	background-color: #262626;
	padding: 46px 209px 42px 53px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	transition: visibility 0.5s, transform 0.5s;
}
.hero__order_wrap {
	display: flex;
	align-items: center;
	column-gap: 18px;
}
.hero__order_info {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.hero__order_title {
}
.hero__order_text {
	font-size: 10px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
}
.hero__order_icon {
	cursor: pointer;
	position: absolute;
	top: 197px;
	right: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 61px;
	height: 58px;
	background-color: #fff;
	border-radius: 50%;
	transition-duration: 0.2s;
}
.hero__order_icon:focus-visible {
	outline: var(--color-brown) 2px solid;
	outline-offset: 7px;
}
.hero__order_icon:hover {
	background-color: #efefef;
}
.hero__order_icon:active {
	background-color: #d7d7d7;
}
.hero__title {
	font-size: 37px;
	font-weight: 600;
	text-align: center;
	color: var(--color-white);
	padding-top: 285px;
	margin-bottom: 42px;
}
.hero__title h2 {
	margin: 0;
}
.btn {
	height: 74px;
	background-color: #bd7048;
	font-weight: 600;
	color: #fff;
	border-radius: 100px;
	transition-duration: var(--transition_duration);
}
.btn:focus-visible {
	outline: var(--color-brown) 2px solid;
	outline-offset: 10px;
}
.btn:hover {
	background-color: #b06842;
}
.btn:hover:active {
	background-color: #a05e3b;
}
.hero__btn {
	padding: 28px 48px 28px 55px;
	margin-bottom: 130px;
}

.hero__pagination {
}
.hero__pagination_list {
	display: flex;
	justify-content: center;
	column-gap: 4px;
}
.hero__pagination_item {
	display: flex;
}
.hero__pagination_btn {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0;
	transition-duration: var(--transition_duration);
}
.is_current {
	width: 33px;
	border-radius: 100px;
	background-color: #fff;
	transition-duration: var(--transition_duration);
}
.hero__pagination_btn:not(.is_current):focus-visible {
	outline: #a96541 2px solid;
	outline-offset: 2px;
}
.hero__pagination_btn:not(.is_current):hover {
	background-color: rgba(255, 255, 255, 0.7);
}

/* =============SECTION CONDITIONS============ */

.conditions {
	margin-top: -145px;
}
.conditions__wrapper {
	background-color: #fff;
	padding: 68px 70px 68px 79px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}
.conditions__row {
	display: flex;
	justify-content: space-between;
	/* column-gap: 140px; */
}
.conditions__column {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
	max-width: 223px;
	font-weight: 500;
	padding-left: 55px;
}

.conditions__column.time::after {
	content: url(../image/icons/time_icon.svg);
	position: absolute;
	top: -4;
	left: 0;
}
.conditions__column.checked::after {
	content: url(../image/icons/checked_icon.svg);
	position: absolute;
	top: -4;
	left: 0;
}
.conditions__column.wallet::after {
	content: url(../image/icons/wallet_icon.svg);
	position: absolute;
	top: -4;
	left: 0;
}
.conditions__title {
	color: rgba(38, 38, 38, 0.7);
}
.conditions__info {
	color: rgba(38, 38, 38, 0.7);
}
.conditions__link {
}
.conditions__link:focus-visible {
	outline: #a96541 2px solid;
	outline-offset: 10px;
}
